pre(class="brush: js")
    | var slides = [];
    | function Slide() {
    |     slides.push("Creating a presentation ...",
    |          "Goal","Requirements","Technology");
    | }
    | Slide.prototype.index = function(req,res) {
    |     renderSlide(req,res,req.params.id);
    | };
    | function renderSlide(req,res,numSlide) {
    |     res.render('slide/num'+numSlide, {locals: {
    |             numSlide:req.params.id,
    |             totalSlide:slides.length,
    |             titleSlide:slides[numSlide-1]}});
    | }
script(type="text/JavaScript")
    | SyntaxHighlighter.all()