pre(class="brush: plain")
    | img(src='/images/logo.jpg')
    | div.heading author
    | div.heading Jettro Coenradie
    | img(src='/images/nature.jpg', class="shadow")
script(type="text/JavaScript")
    | SyntaxHighlighter.all()