html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

blockquote {
    font-size: 48pt;
    font-style: italic;
    vertical-align: middle;
    padding: 100px;
    quotes: "\201C" "\201D";
}

blockquote:before {
    content: open-quote;
    font-weight: bold;
}

blockquote:after {
    content: close-quote;
    font-weight: bold;
}

ul {
    text-align:left;
    list-style-image:url("/images/navigate_check.png");
    padding:100px;
    font-size: 24pt;
}

ul li {
    padding-left:20px;
    vertical-align:top;
}

ul li a {
    vertical-align:top;
    color:#00008b;
}

.heading {
    font-size:16pt;
}

img.shadow {
    box-shadow: 10px 10px 5px #888;
    margin-top:20px;
}
/* Positioning the different components */
#fullscreen {
    min-height: 100%;
}

#title {
    text-align: center;
    font-size: 36pt;
    padding: 20px;

}

#body {
    text-align: center;
    overflow: hidden;
    padding-bottom: 40px;
    vertical-align: middle;
}

#footer {
    position: relative;
    margin-top: -40px; /* negative value of footer height */
    height: 40px;
    clear: both;
    text-align: center;
}

#commandline {
    float: left;
}

#counter {
    float: right;
    padding-right: 20px;
}