div#title available presentations
ul
    - each presentation in presentations
        li
            a(href='/presentation/' + presentation.urlIdentifier) #{presentation.title}
            div.description #{presentation.description}