div#title available presentations
ul
    - each presentation,index in presentations
        li
            a(href=presentation.urlIdentifier + '/slide/' + (index + 1)) #{presentation.title}
            div.description #{presentation.description}