ul
    li
        a(href="http://nodejs.org/") Node.js
    li
        a(href="http://expressjs.com/") Express.js
    li
        a(href="http://jade-lang.com/") Jade
    li
        a(href="http://alexgorbatchev.com/SyntaxHighlighter/") Syntax Highlighter